/* all text roboto */

* {
    font-family: 'Roboto', sans-serif;
}


/* body styling */

body {
    background-color: #E8E5C5;
    padding-bottom: 40px;
}


/* a href link styling */

nav ul a {
    color: #FC0D00;
    text-shadow: black 0.8px 0.8px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #FC0D00;
    text-shadow: black 0.8px 0.8px;
}


/*styling for home.html specific elements*/

.card-image {
    width: 40%;
    height: 20%;
}


/*footer styling*/

.page-footer {
    padding-top: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(196, 196, 198);
    background: linear-gradient(31deg, rgba(196, 196, 198, 1) 1%, rgba(39, 39, 40, 1) 27%, rgba(229, 231, 232, 1) 71%, rgba(84, 84, 84, 1) 91%);
}

.footer-p {
    padding: 15px;
    margin: 0;
    color: #FC0D00;
    text-shadow: black 0.8px 0.8px;
}


/*home.html specific styling*/

.site-intro {
    border: solid 1px rgb(110, 109, 109);
    box-shadow: 2px 2px 2px rgb(117, 116, 116);
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.intro-text {
    padding: 24px;
}


/*navbar styling*/

.nav-wrapper {
    background: rgb(196, 196, 198);
    background: linear-gradient(31deg, rgba(196, 196, 198, 1) 1%, rgba(39, 39, 40, 1) 27%, rgba(229, 231, 232, 1) 71%, rgba(84, 84, 84, 1) 91%);
}

a.brand-logo {
    font-size: 1.2rem;
    padding-left: 5px;
    color: #FC0D00;
    text-shadow: black 0.8px 0.8px;
}


/*homepage styling*/

.latest-add {
    color: #FC0D00;
    text-shadow: black 0.8px 0.8px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(196, 196, 198);
    background: linear-gradient(31deg, rgba(196, 196, 198, 1) 1%, rgba(39, 39, 40, 1) 27%, rgba(229, 231, 232, 1) 71%, rgba(84, 84, 84, 1) 91%);
}


/*form styles + btn styles */

form {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-form {
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn {
    color: #FC0D00;
    text-shadow: black 0.8px 0.8px;
    background: rgb(196, 196, 198);
    background: linear-gradient(31deg, rgba(196, 196, 198, 1) 1%, rgba(39, 39, 40, 1) 27%, rgba(229, 231, 232, 1) 71%, rgba(84, 84, 84, 1) 91%);
}


/* dropdown styling */

.dropdown-content li>span {
    color: #FC0D00;
    text-shadow: black 0.8px 0.8px;
}


/* card styling */

.card .card-title {
    font-weight: bold;
}