{% extends 'base.html' %} {% block content %}
<!--form to collect data from user to add new games to collection, form base copied from materializecss.com and modified for current page use-->
<div class="container">
    <form action="{{ url_for('insert_review') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">

                <div class="input-field col s12">
                    <select id="game_name" name="game_name">
                      <option value="" disabled selected>Choose a game to review</option>
                      {%for game in games %}
                      <option value="{{ game.game_name }}">{{ game.game_name.upper() }}</option>
                      {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="user_name" name="user_name" type="text" required>
                <label for="user_name">User name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="review" name="review" class="materialize-textarea" data-length="360" required></textarea>
                <label for="review">Leave a review</label>
            </div>
        </div>
        <label for="game_summary">Rate the game:</label>
        <div class="input-field col s12">
            <select id="rating" name="rating">
              <option value="" disabled selected>Rate the game:</option>
              <option value=1>1/5</option>
              <option value=2>2/5</option>
              <option value=3>3/5</option>
              <option value=4>4/5</option>
              <option value=5>5/5</option>
            </select>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Add Review
            <i class="material-icons right">add_circle</i>
          </button>
    </form>
</div>
{% endblock %}