{% extends 'base.html' %} {% block content %}
<!--form to collect data from user to add new games to collection, form base copied from materializecss.com and modified for current page use-->
<div class="container">
    <form action="{{ url_for('insert_game') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea oninput="this.value = this.value.toUpperCase()" id="game_name" name="game_name" type="text" class="materialize-textarea" data-length="360" required></textarea>
                <label for="image_link">Game name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="image_link" name="image_link" type="text" class="materialize-textarea" data-length="360" required></textarea>
                <label for="image_link">Enter URL for image of the game</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="purchase_link" name="purchase_link" type="text" class="materialize-textarea" data-length="360" required></textarea>
                <label for="purchase_link">Enter URL where you can buy this game</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="game_summary" name="game_summary" class="materialize-textarea" data-length="360" required></textarea>
                <label for="game_summary">Game description</label>
            </div>
        </div>
        <button class="btn" type="submit">Add Game
            <i class="material-icons right">add_circle</i>
          </button>
    </form>
</div>
{% endblock %}