{% extends 'base.html' %} {% block content %}
<!--form to collect data from user to add new games to collection, form base copied from materializecss.com and modified for current page use-->
<div class="container">
    <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea2">Textarea</label>
        </div>
    </div>
    <a class="waves-effect waves-light btn-small">Button</a>
</div>
{% endblock %}