{% extends 'base.html' %} {% block content %}
<!--this page gives access to view all games that have been added to this page-->
<div class="container">
    {% for game in games %}
    <div class="col s6 m6 offset-6">
        <div class="card">
            <div class="card-image">
                <img src="{{game.image_link}}">
            </div>
            <span class="card-title">{{game.game_name.upper()}}</span>
            <div class="card-content">
                <p class="flow-text">{{game.game_summary}}</p>
            </div>
            <div class="card-action">
                <a href="{{game.purchase_link}}">Buy this game here</a>
                <a href="{{ url_for('game_details', game_id=game._id) }}">Game Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}