{% extends 'base.html' %} {% block content %}
<!--update existing game info, provides users to update info about a specific game-->
<div class="container">
    <form action="{{ url_for('update_game', game_id=game._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="game_name" name="game_name" class="materialize-textarea" data-length="360" value="{{ game.game_name }}">{{ game.game_name.upper() }}</textarea>
                <label for="game_name">Name of game</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="image_link" name="image_link" class="materialize-textarea" data-length="360" required>{{ game.image_link }}</textarea>
                <label for="image_link">Update URL for image of the game</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="purchase_link" name="purchase_link" class="materialize-textarea" data-length="360" required>{{ game.purchase_link }}</textarea>
                <label for="purchase_link">Update URL where you can buy this game</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="game_summary" name="game_summary" class="materialize-textarea" data-length="360" required>{{ game.game_summary }}</textarea>
                <label for="game_summary">Update Game description</label>
            </div>
        </div>
        <button class="btn" type="submit">Update Game Info
            <i class="material-icons right">add_circle</i>
          </button>
    </form>
</div>
{% endblock %}