{% extends 'base.html' %} {% block content %}
<!--update existing game info, provides users to update info about a specific game-->
<div class="container">
    <form action="" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="game_name" name="game_name" type="text" required>{{ game.game_name }}
                <label for="game_name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="image_link" name="image_link" type="text" required>
                <label for="image_link">{{ game.image_link }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="purchase_link" name="purchase_link" type="text" required>
                <label for="purchase_link">{{ game.image_link }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="game_summary" name="game_summary" class="materialize-textarea" data-length="360" required></textarea>
                <label for="game_summary">{{ game.game_summary }}</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Update Game
            <i class="material-icons right">add_circle</i>
          </button>
    </form>
</div>
{% endblock %}