{% extends 'base.html' %} {% block content %}

<!--Game details card displays all relevant data about a specific game chosen from website landing page or all games page.
     Card code base from materializecss-->
<div class="container">
    <div class="col s6 m6 offset-6">
        <div class="card">
            <div class="card-image">
                <img src="{{ game.image_link }}">
                <span class="card-title">{{ game.game_name }}</span>
            </div>
            <div class="card-content">
                <p>{{ game.game_summary }}</p>
            </div>
            <div class="card-action">
                <a href="{{ game.purchase_link }}">Buy this game here</a>
                <a href="">Add Review</a>
                <a href="">Edit Game Info</a>
            </div>
        </div>
        {% for detail in reviews %} {% if game.game_name == detail.game_name %}
        <div class="card-panel">
            <h6>Username: {{ detail.user_name }}</h6>
            <h6>Rating: {{ detail.rating }}</h6>
            <span>{{ detail.review }}</span>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>
{% endblock %}