 {% extends 'base.html' %} {% block content %}
<!--introduction to website-->
<div class="container">
    <div class="col s6 m6 offset-6">
        <h3>Placeholder</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime doloribus quis impedit nostrum neque eius perspiciatis eaque iusto delectus, ipsum laudantium beatae, repudiandae odit pariatur nesciunt dicta laboriosam optio distinctio.</p>
    </div>
</div>

<!--Home Page 'game highlight' card, base code taken from materializecss.com and modified to work for current page use-->
{% for game in games %}
<div class="container">
    <div class="col s6 m6 offset-6">
        <div class="card">
            <div class="card-image">
                <img src="{{game.image_link}}">
                <span class="card-title">{{game.game_name.upper()}}</span>
            </div>
            <div class="card-content">
                <p>{{game.game_summary}}</p>
            </div>
            <div class="card-action">
                <a href="{{game.purchase_link}}">Buy this game here</a>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}