 {% extends 'base.html' %} {% block content %}
<!--introduction to website-->
<div class="container site-intro">
    <div class="col s6 m6 offset-6">
        <h4 class="center-align">Welcome!</h4>
        <p class="intro-text">This site has been created to act as a sorts of library for all people who enjoy gaming. Add games that are missing to the library, leave reviews and ratings to games. This is just the beginning, let's create the best gaming site out of this!
        </p>
    </div>
</div>

<!--Home Page 'game highlight' card, base code taken from materializecss.com and modified to work for current page use-->
{% for game in games %}
<div>
    <h4 class="center-align latest-add">Latest addition to library:</h4>
</div>
<div class="container ">
    <div class="col s6 m6 offset-6">
        <div class="card content-wrapper">
            <div class="card-image">
                <img src="{{game.image_link}} ">
            </div>
            <div class="card-content">
                <span class="card-title ">{{game.game_name.upper()}}</span>
                <p>{{game.game_summary}}</p>
            </div>
            <div class="card-action">
                <ul>
                    <li>
                        <a href="{{game.purchase_link}}" target="_blank">Buy this game here</a>
                    </li>
                    <li>
                        <a href="{{ url_for( 'game_details', game_id=game._id) }}">Read and Add Reviews</a>
                    </li>
                    <li>
                        <a href="{{ url_for('edit_game', game_id=game._id) }}">Edit Game Info</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}